<div class="body_section_white wf-section">
    <div class="body_div_1400">
        <h2 class="sub_heading">What&#x27;s Up?</h2>
        <h1 class="page_headings">Frequently Asked Questions</h1>
        <div class="faq_body">
            <div class="w-layout-grid faq_grid">
                <div class="faq_info_flex" data-ix="show-faq">
                    <div class="faq_top" (click)="showContent('CanMy')" data-ix="link-hover">
                        <div class="faq_text">Can My Dealership Advertise on Click Cars?</div>
                        <a href="#" class="arrow_faq w-inline-block">
                            <div class="arrow_faq w-icon-slider-right"></div>
                        </a>
                    </div>
                    <div class="faq_bottom" id="CanMy">
                        <div class="faq_textbottom">Yes! We would love your dealer&#x27;s cars on our website. Simply
                            sign-up with our partner, <a href="http://www.e-dealerportal.co.za" target="_blank"
                                class="faq_link" data-ix="link-hover">e-Dealer Portal</a>, for FREE. <br><br>All
                            vehicles loaded through <a href="http://www.e-dealerportal.co.za" class="faq_link"
                                data-ix="link-hover">e-Dealer Portal</a> will be advertised across the Click Cars
                            website.
                        </div>
                    </div>
                </div>
                <div class="faq_info_flex" data-ix="show-faq">
                    <div class="faq_top" (click)="showContent('Clickon')"  data-ix="link-hover">
                        <div class="faq_text">How Do I Buy A Car?</div>
                        <a href="#" class="arrow_faq w-inline-block">
                            <div class="arrow_faq w-icon-slider-right"></div>
                        </a>
                    </div>
                    <div class="faq_bottom" id="Clickon">
                        <div class="faq_textbottom" ><strong>Step 1:</strong> Click on Buy A Car or
                            Listings<br><strong>Step 2:</strong> Browse through our selection of Top Quality Pre-Owned
                            vehicles from dealers across South Africa<br><strong>Step 3:</strong> Click A Car you like
                            to view more information and photos of the vehicle<br><strong>Step 4: </strong>Click the
                            Enquire button and fill our the form. The Dealer will call you back.</div>
                    </div>
                </div>
                <div class="faq_info_flex" data-ix="show-faq">
                    <div class="faq_top" data-ix="link-hover" (click)="showContent('ClickonSell')" >
                        <div class="faq_text">How Do I Sell My Car?</div>
                        <a href="#" class="arrow_faq w-inline-block">
                            <div class="arrow_faq w-icon-slider-right"></div>
                        </a>
                    </div>
                    <div class="faq_bottom" id="ClickonSell">
                        <div class="faq_textbottom"><strong>Step 1: </strong>Click on Sell My Car<br><strong>Step 2:
                            </strong>Fill in your Personal / Vehicle Information<br><strong>Step 3: </strong>Upload Your
                            Photos<br><strong>Step 4: </strong>Your car will be listed on our website. All leads will be
                            sent to you via e-mail.</div>
                    </div>
                </div>
                <div class="faq_info_flex" data-ix="show-faq">
                    <div class="faq_top" data-ix="link-hover" (click)="showContent('AtClick')">
                        <div class="faq_text">Do You Provide Finance?</div>
                        <a href="#" class="arrow_faq w-inline-block">
                            <div class="arrow_faq w-icon-slider-right"></div>
                        </a>
                    </div>
                    <div class="faq_bottom" id="AtClick">
                        <div class="faq_textbottom">At Click Cars, we do not personally offer finance. Our Click Car
                            dealers offer finance for any vehicle that you are interested in. Click a car you want,
                            enquire and the dealer will give you your finance options. <br><br>All vehicles listed on
                            Click Cars are from approved Motor Vehicle Dealers.</div>
                    </div>
                </div>
                <div class="faq_info_flex" data-ix="show-faq">
                    <div class="faq_top" data-ix="link-hover" (click)="showContent('AtClickCars')">
                        <div class="faq_text">Do You Offer Car Insurance?</div>
                        <a href="#" class="arrow_faq w-inline-block">
                            <div class="arrow_faq w-icon-slider-right"></div>
                        </a>
                    </div>
                    <div class="faq_bottom" id="AtClickCars">
                        <div class="faq_textbottom">At Click Cars, we do not personally offer car insurance. Our Click
                            Car insurance partners offer insurance for any vehicle that you are interested in. Click a
                            car you want, enquire and our insurance partners will give you your insurance options. <br>
                        </div>
                    </div>
                </div>
                <div class="faq_info_flex" data-ix="show-faq">
                    <div class="faq_top" data-ix="link-hover" (click)="showContent('AtClickCarswe')">
                        <div class="faq_text">How much does a Car Listing Cost?</div>
                        <a href="#" class="arrow_faq w-inline-block">
                            <div class="arrow_faq w-icon-slider-right"></div>
                        </a>
                    </div>
                    <div class="faq_bottom" id="AtClickCarswe">
                        <div class="faq_textbottom">At Click Cars we offer FREE advertising for all private sellers.
                        </div>
                    </div>
                </div>
                <div class="faq_info_flex" data-ix="show-faq">
                    <div class="faq_top" data-ix="link-hover" (click)="showContent('ClickCarsisasecure')">
                        <div class="faq_text">Why Choose Click Cars?</div>
                        <a href="#" class="arrow_faq w-inline-block">
                            <div class="arrow_faq w-icon-slider-right"></div>
                        </a>
                    </div>
                    <div class="faq_bottom" id="ClickCarsisasecure">
                        <div class="faq_textbottom">Click Cars is a secure online platform where you can buy or sell
                            your vehicle safely. All data is secure and we are fully POPIA complaint.</div>
                    </div>
                </div>
                <div class="faq_info_flex" data-ix="show-faq">
                    <div class="faq_top" data-ix="link-hover" (click)="showContent('AbsolutelyClick')">
                        <div class="faq_text">I Can&#x27;t Find the Vehicle I Want. Can You Help Me Find It?</div>
                        <a href="#" class="arrow_faq w-inline-block">
                            <div class="arrow_faq w-icon-slider-right"></div>
                        </a>
                    </div>
                    <div class="faq_bottom" id="AbsolutelyClick">
                        <div class="faq_textbottom">Absolutely! At Click Cars we want all our customers to find their
                            Dream Vehicle.<br><br>Our partner Vehicle Scout can find any vehicle for you. Simply go to
                            <a href="http://www.vehiclescout.co.za" target="_blank" class="faq_link"
                                data-ix="link-hover">www.vehiclescout.co.za </a>and enter your details.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner_ad_space">
        <a  href="{{banner[5].URLS}}" target="_blank">
            <img src="{{banner[5].ADVERTSPATH}}" loading="lazy"
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 94vw, 91vw"
            
                alt="" class="banner_ad">
        </a>
        </div>
</div>