 <drag-scroll>
                <a  class="car_listing slider w-inline-block" data-ix="link-hover">
                    <div class="image_holder"><img src="assets/images/Crop800x600.jpg" loading="lazy" alt=""
                            class="car_image">
                        <div class="absolute_dealer_logo small"><img src="assets/images/smm-logo.png"
                                loading="lazy"
                                sizes="(max-width: 479px) 26vw, (max-width: 991px) 27vw, 231.890625px"
                                srcset="assets/images/smm-logo-p-500.png 500w, assets/images/smm-logo.png 800w"
                                alt="&quot;Dealer Name&quot; Logo" class="dealer_logo small"></div>
                    </div>
                    <div class="div-block-2 small">
                        <div class="model_text small">JEEP Wrangler 2.4 Jeepy</div>
                        <div class="price small">R 39 999</div>
                        <div class="model_extras small">
                            <div class="model_info">
                                <div class="year_model small">2005</div>
                                <div class="extras_info_text small">132 000 km</div>
                                <div class="extras_info_text small">Manual</div>
                                <div class="extras_info_text small">Petrol</div>
                            </div>
                        </div>
                    </div>
                </a>
             
            </drag-scroll>