<div class="white_with_back wf-section">
    <div class="login_holder">
        <h2 class="sub_heading">Let&#x27;s Go</h2>
        <h1 class="page_headings">Reset Your Password</h1>
        <div class="w-form">
            <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get">
                <!-- start step 1 -->
                <div class="inner_div_cust" id="reset_email">
                    <div class="customer_heading_div">
                        <div class="customer_heading">
                            <strong>Please Enter E-Mail Address</strong>
                        </div>
                    </div>
                    <label for="Name-4" class="input_tag">E-Mail</label>
                    <input type="email" class="input_fields_tagged w-input" maxlength="256" [(ngModel)]="forgotEmail"
                        name="forgotEmail" data-name="Name 4" placeholder="" id="forgotEmail" required="">
                    <a (click)="passwordsReset()" class="nav_link smaller_button" data-ix="link-hover">Next</a>
                </div>
                <!-- end step 1 -->

                <!-- start reset code -->
                <div class="inner_div_cust" id="reset_code" style="display: none;">
                    <div class="customer_heading_div">
                        <div class="customer_heading">
                            <strong>
                                Reset Code Has Been Sent to
                                <a class="email" href="mailto:">
                                    {{ forgotEmail }}
                                </a>
                            </strong>
                        </div>
                    </div>

                    <label for="Name" class="input_tag">Reset Code</label>
                    <input type="text" class="input_fields_tagged w-input" maxlength="256" [(ngModel)]="forgotCode"
                        name="forgotCode" data-name="Name 4" placeholder="" id="forgotCode" required="">
                    <a (click)="confirmPasswordCode()" class="nav_link smaller_button" data-ix="link-hover">Next</a>
                </div>
                <!-- end reset code -->


                <!-- start no account -->
                <div class="inner_div_cust" id="no_account" style="display: none;">
                    <div class="customer_heading_div">
                        <div class="customer_heading">
                            <strong>
                                No Account Registered with &lt;e-Mail_Address&gt;
                            </strong>
                        </div>
                    </div>
                    <div class="login_bottom_div no_padding">
                        <div class="holder_bottom_acc">
                            <h2 class="sub_heading_blue_small">Haven&#x27;t Got An Account?</h2>
                            <a routerLink="/sell-my-car" class="nav_link smaller_button" data-ix="link-hover">Create
                                Account</a>
                        </div>
                        <div class="holder_bottom_acc">
                            <h2 class="sub_heading_blue_small">Contact Support</h2>
                            <a href="tel:087 135 6082" class="nav_link smaller_button" data-ix="link-hover">087 135
                                6082</a>
                        </div>
                    </div>
                </div>
                <!-- end no account -->


                <!-- start set password -->
                <div class="inner_div_cust" id="set_password" style="display: none;">
                    <div class="customer_heading_div">
                        <div class="customer_heading">
                            <strong>Set Password</strong>
                        </div>
                    </div>

                    <label for="Name-5" class="input_tag">New Password</label>
                    <input type="text" class="input_fields_tagged w-input" maxlength="256"
                        [(ngModel)]="forgotNewPassword" name="forgotNewPassword" data-name="Name 4" placeholder=""
                        id="forgotNewPassword" required="">

                    <label for="Name-5" class="input_tag">Confirm New Password</label>
                    <input type="text" class="input_fields_tagged w-input" [(ngModel)]="confirmNewPassword"
                        maxlength="256" name="confirmNewPassword" data-name="Name 4" placeholder=""
                        id="confirmNewPassword" required="">

                    <a (click)="resetPassword()" class="nav_link smaller_button" data-ix="link-hover">Set Password</a>
                </div>
                <!-- end set password -->

            </form>
        </div>
    </div>
</div>