<div class="body_section_white_details wf-section">

    <div class="banner_ad_space_top">
        <a href="{{banner[0].URLS}}">
            <img src="{{banner[0].ADVERTSPATH}}" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 94vw, 91vw" alt="" class="banner_ad">
        </a>
    </div>

    <div class="body_div_1400">
        <h2 class="sub_heading_no_margin">How Much Does This Car Cost?</h2>
        <h1 class="page_headings_less_margin">Finance Calculator</h1>
        <p class="para_left">Did you Click A Car and now wish to find out how much it will cost your every month? Simply use our Finance Calculator below to get an estimate of how much your monthly vehicle payment will cost. Simply adjust the Price of the vehicle, interest
            rate, period, deposit and residual below.</p>
        <div class="finance_div_main">
            <div class="fin_form_main w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="fin_form_mains">
                    <div class="w-layout-grid grid_fin">

                        <div class="input_fin_wrap">
                            <h1 class="fin_sub_heading">Price</h1>
                            <div class="input_wrap">
                                <div class="icon_fin_div">
                                    <img src="assets/images/tag.png" loading="lazy" alt="" class="icon_fin">
                                </div>
                                <input type="number" (keyup)="onKey($event)" [(ngModel)]="Car_Price" class="input_main_fin w-input" maxlength="256" name="Car_Price" data-name="Field 3" id="Car_Price">
                            </div>
                        </div>

                        <div class="input_fin_wrap">
                            <h1 class="fin_sub_heading">Interest Rate</h1>
                            <div class="input_wrap">
                                <div class="icon_fin_div">
                                    <img src="assets/images/percentage.png" loading="lazy" alt="" class="icon_fin">
                                </div>
                                <input type="text" maxlength="4" (keyup)="onKey($event)" [(ngModel)]="Interest_Rate" min="0" (keypress)="numberOnly($event)" class="input_main_fin w-input" name="Interest_Rate" data-name="Field 3" id="Interest_Rate">
                            </div>
                        </div>

                        <div class="input_fin_wrap">
                            <h1 class="fin_sub_heading">Period</h1>
                            <div class="input_wrap">
                                <div class="icon_fin_div"><img src="assets/images/calendar.png" loading="lazy" alt="" class="icon_fin"></div>
                                <div class="drop_holder _100">
                                    <div (click)="viewMonths()" id="monthDi" class="input_main_fin drop" data-ix="link-hover" style="transition: all 0.2s ease 0s;">
                                        <div class="drop_text">{{Months}} Months</div>
                                        <div class="drop_arrow">
                                            <img src="assets/images/toppng.com-arrow-down-icon-625x362.png" loading="lazy" sizes="100vw" srcset="assets/images/toppng.com-arrow-down-icon-625x362-p-500.png 500w, assets/images/toppng.com-arrow-down-icon-625x362-p-800.png 800w, assets/images/toppng.com-arrow-down-icon-625x362.png 835w"
                                                alt="" class="arrow_icon">
                                        </div>
                                    </div>
                                    <div class="drop_list_main _21" id="monthDiv">
                                        <a (click)="selectMonths(no)" *ngFor="let no Of months; let last = last" [ngClass]="{'drop_link':true, 'line': !last}">{{no}} Months</a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input_fin_wrap">
                            <h1 class="fin_sub_heading">Deposit</h1>
                            <div class="input_wrap">
                                <div class="icon_fin_div">
                                    <h1 class="fin_text">R</h1>
                                </div>
                                <input type="text" (keypress)="DepositnumberOnly($event)" (keyup)="calculatorDeposit($event)" [(ngModel)]="Deposit" class="input_main_fin w-input" maxlength="256" name="Deposit" data-name="Field 3" id="Deposit">
                            </div>
                        </div>

                        <div class="input_fin_wrap">
                            <h1 class="fin_sub_heading">Residual</h1>
                            <div class="input_wrap">
                                <div class="icon_fin_div">
                                    <img src="assets/images/percentage.png" loading="lazy" alt="" class="icon_fin">
                                </div>
                                <input type="text" (keypress)="numberOnly($event)" (keyup)="calculatorResdifual($event)" [(ngModel)]="Residual_Rate" class="input_main_fin w-input" maxlength="4" name="Residual_Rate" data-name="Field 3" id="Residual_Rate">
                            </div>
                        </div>

                        <div class="input_fin_wrap">
                            <h1 class="fin_sub_heading">Residual Amount</h1>
                            <div class="input_wrap">
                                <div class="icon_fin_div">
                                    <h1 class="fin_text">R</h1>
                                </div>
                                <input type="text" disabled (keypress)="isThanCarPrice($event)" (keyup)="calculatorResdifualPercentage()" [(ngModel)]="Residual_Amount" class="input_main_fin w-input" maxlength="256" name="Residual_Amount" data-name="Field 3" id="Residual_Amount" disable>
                            </div>
                        </div>

                    </div>

                    <div class="fin_calc_div">
                        <div class="w-layout-grid grid_fin2">
                            <div class="fin_calc_wrap">
                                <h1 class="fin_sub_heading">Total Interest</h1>
                                <div class="price price_fin_small">R {{isNumber(Total_Interest)}}</div>
                            </div>
                            <div class="fin_calc_wrap">
                                <h1 class="fin_sub_heading">Total Payments</h1>
                                <div class="price price_fin_small">R {{isNumber(Total_Payment)}}</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="fin_calc_wrap">
                <h1 class="fin_sub_heading centered">Estimated Instalment<br></h1>
                <div class="price price_fin_inst">R {{isNumber(Estimated_Instal) }}</div>
            </div>
            <p class="terms_text">* Monthly payment estimates are for informational purpose and do not represent a financing offer from the seller of this vehicle.<br></p>
        </div>
        <div class="body_div_1400"></div>
    </div>
    <div class="banner_ad_space">
        <a href="{{banner[5].URLS}}" target="_blank">
            <img src="{{banner[5].ADVERTSPATH}}" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 94vw, 91vw" alt="" class="banner_ad">
        </a>
    </div>
</div>