<div class="body_section_white_details wf-section">
    <div id="enquiry_form" class="enquiry_form">
        <div class="icon_back w-icon-slider-right" data-ix="hide-enquiry"></div>
        <h1 class="enquiry_heading"><span class="wrap_enquire">Send Enquiry</span> 2016 Toyota Hilux D4-D 6.2 V8 Turbo
            Car</h1>
        <div class="w-form">
            <form id="email-form-3" name="email-form-3" data-name="Email Form 3"><input type="text"
                    class="input_orange w-input" maxlength="256" name="Name" data-name="Name" data-ix="link-hover"
                    placeholder="Name" id="Name" required=""><input type="text" class="input_orange w-input"
                    maxlength="256" name="Surname" data-name="Surname" data-ix="link-hover" placeholder="Surname"
                    id="Surname" required=""><input type="tel" class="input_orange w-input" maxlength="256"
                    name="Contact-Number" data-name="Contact Number" data-ix="link-hover" placeholder="Contact Number"
                    id="Contact-Number" required=""><input type="email" class="input_orange w-input" maxlength="256"
                    name="E-Mail" data-name="E-Mail" data-ix="link-hover" placeholder="E-Mail" id="E-Mail" required="">
                <div class="checkbox_holder"><label class="w-checkbox checkbox-field" data-ix="link-hover"><input
                            type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2"
                            class="w-checkbox-input checkbox"><span class="checkbox_text w-form-label">Finance
                            Required</span></label><label class="w-checkbox checkbox-field-2"
                        data-ix="link-hover"><input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox"
                            class="w-checkbox-input checkbox"><span class="checkbox_text w-form-label">Insurance
                            Required</span></label><label class="w-checkbox checkbox-field-3"
                        data-ix="link-hover"><input type="checkbox" id="checkbox-3" name="checkbox-3"
                            data-name="Checkbox 3" class="w-checkbox-input checkbox"><span
                            class="checkbox_text w-form-label">Test Drive Request</span></label></div><textarea
                    placeholder="Message" maxlength="5000" id="Message" name="Message" data-name="Message"
                    class="input_orange_message w-input" data-ix="link-hover"></textarea>
                <a href="#" class="nav_link button_veh_main" data-ix="link-hover">Send Enquiry</a>
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
    </div>
    <div class="body_div_1400_flex2">
        <div class="about_left">
            <h2 class="sub_heading_no_margin">Our Story</h2>
            <h1 class="page_headings_less_margin">Who WE ARE</h1>
            <p class="para_about"><span class="wrap_para_1">Click Cars is run by a group of Automotive Experts who
                    collectively have 70+ Years of experience in the industry. We believe that buying a car in South
                    Africa should be as easy as simply clicking a car, which is why we have partnered with Top Quality
                    Pre-Owned Dealerships across South Africa.<br><br>Selling your car has never been easier. Simply
                    fill in your details and upload your photos and start receiving offers from dedicated buyers and
                    dealers across South Africa.</span><br><br>Keeping your information safe is of utmost importance to
                us, which is why all information is securely stored.<br><span class="wrap_para_2"><br>Simply Click a Car
                    and see what all the fuss is about.</span></p>
        </div>
        <div class="about_right"><img src="assets/images/aboutimage.jpg" loading="lazy"
                alt="Buying a used car in south africa" class="about_image"></div>
        <div class="body_div_1400"></div>
    </div>
    <div class="banner_ad_space">
        <a href="{{banner[0].URLS}}" target="_blank">
            <img src="{{banner[0].ADVERTSPATH}}" loading="lazy"
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 94vw, 91vw" alt=""
                class="banner_ad">
        </a>
    </div>
</div>