<div class="form_lading w-form">
    <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form_landing2">
        <div class="advertise_div">
            <div class="main_holder_div_padded">
                <div class="heading_wrapper">
                    <div class="main_heading">Advertise Your Car</div>
                </div>
                <div class="ins_report_text blue">
                    Your Car Will Be Advertised On All The Following Sites.
                </div>
                <div class="ins_report_text small">
                    Please Note: All vehicles loaded go through a quality check before being advertised.
                    Your vehicle will be activated within 24 hours of being loaded.
                </div>
                <div class="ad_block">
                    <div class="w-layout-grid logos_grid">

                        <a href="http://www.clickcars.co.za" target="_blank"
                            class="affiliate_block click w-inline-block">
                            <img loading="lazy" src="assets/images/Click-Car-2.png" alt=""
                                class="full_stretch-image">
                        </a>

                        <a href="http://www.cars2sell.co.za" target="_blank"
                            class="affiliate_block cars w-inline-block">
                            <img sizes="(max-width: 479px) 100vw, (max-width: 767px) 33vw, (max-width: 991px) 37vw, (max-width: 1279px) 40vw, (max-width: 1439px) 41vw, (max-width: 1919px) 43vw, 44vw"
                                srcset="assets/images/Cars2sell-Logo-01-p-500.png 500w, assets/images/Cars2sell-Logo-01-p-800.png 800w, assets/images/Cars2sell-Logo-01-p-1080.png 1080w, assets/images/Cars2sell-Logo-01-p-1600.png 1600w, assets/images/Cars2sell-Logo-01-p-2000.png 2000w, assets/images/Cars2sell-Logo-01-p-2600.png 2600w, assets/images/Cars2sell-Logo-01-p-3200.png 3200w, assets/images/Cars2sell-Logo-01.png 6669w"
                                src="assets/images/Cars2sell-Logo-01.png" loading="lazy" alt=""
                                class="full_stretch-image">
                        </a>

                        <a href="https://zambezicars.co.za/" target="_blank"
                            class="affiliate_block w-inline-block">
                            <img loading="lazy" src="assets/images/Zam.png" alt=""
                                class="full_stretch-image">
                        </a>

                        <a href="https://bakkie2buy.co.za/" target="_blank"
                            class="affiliate_block bakkie w-inline-block">
                            <img loading="lazy" src="assets/images/bakkie-logo-white-01-01-01-p-500.png"
                                alt="" class="full_stretch-image small">
                        </a>

                        <a href="https://www.premiummobility.co.za/" target="_blank"
                            class="affiliate_block premium w-inline-block">
                            <img loading="lazy" src="assets/images/Premium.png" alt=""
                                class="full_stretch-image">
                        </a>

                        <a href="https://www.vehiclesellers.co.za/" target="_blank"
                            class="affiliate_block w-inline-block">
                            <img loading="lazy" src="assets/images/VS.png" alt=""
                                class="full_stretch-image">
                        </a>

                        <a href="https://cafewheels.co.za/" target="_blank"
                            class="affiliate_block w-inline-block">
                            <img loading="lazy" src="assets/images/Cafe-Wheels.png" alt=""
                                class="full_stretch-image">
                        </a>

                        <a href="https://mobility-online.co.za/" target="_blank"
                            class="affiliate_block w-inline-block">
                            <img loading="lazy" src="assets/images/MOB.png" alt=""
                                class="full_stretch-image">
                        </a>

                        <a href="https://e-mobility-online.co.za/" target="_blank"
                            class="affiliate_block w-inline-block">
                            <img loading="lazy" src="assets/images/eM.png" alt=""
                                class="full_stretch-image">
                        </a>

                        <a id="w-node-_77280175-1652-1cff-50d3-14f7f1c2b991-3e7e1144"
                            href="https://tradeyourvehicle.co.za/" target="_blank"
                            class="affiliate_block w-inline-block">
                            <img loading="lazy" src="assets/images/Trade_.png" alt=""
                                class="full_stretch-image">
                        </a>

                        <a href="https://valuevehicle.co.za/" target="_blank"
                            class="affiliate_block w-inline-block">
                            <img loading="lazy" src="assets/images/VV.png" alt=""
                                class="full_stretch-image">
                        </a>

                        <a id="w-node-_77280175-1652-1cff-50d3-14f7f1c2b995-3e7e1144"
                            href="https://www.urbanvehicle.co.za/" target="_blank"
                            class="affiliate_block urban w-inline-block">
                            <img loading="lazy" src="assets/images/UBV-logo-thicker-01.png" alt=""
                                class="full_stretch-image">
                        </a>

                        <a href="https://vehiclemax.co.za/" target="_blank"
                            class="affiliate_block max w-inline-block">
                            <img loading="lazy" src="assets/images/VEHICLE-MAX.png" alt=""
                                class="full_stretch-image">
                        </a>

                        <div id="w-node-_77280175-1652-1cff-50d3-14f7f1c2b999-3e7e1144"
                            class="affiliate_block">
                            <img loading="lazy" src="assets/images/Untitled-design-8.png" alt=""
                                class="full_stretch-image">
                        </div>

                        <a href="https://e-vehiclemobility.com/" target="_blank"
                            class="affiliate_block w-inline-block">
                            <img loading="lazy" src="assets/images/EVM-logo-01.png" alt=""
                                class="full_stretch-image">
                        </a>

                        <a href="#" class="affiliate_block w-inline-block">
                            <img loading="lazy" src="assets/images/Veh-Bill.png" alt=""
                                class="full_stretch-image">
                        </a>

                    </div>
                </div>
                <div class="input_wrapper w-clearfix">
                    <label for="email" class="input_tag">Your Advertised Price</label>
                    <label for="node" class="required_tag">* Required</label>
                    <div class="input_split_div">
                        <div class="unit_div_reversed tagged">
                            <div>R</div>
                        </div>
                        <input type="number" class="input_fields_normal no_rounded_reversed w-input"
                            maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="title_sell"
                            required="">
                    </div>
                </div>
                <div class="ins_report_text small">
                    * Please double check Your E-Mail Address and Contact Number under your Profile Page as
                    Lead Information will be sent to these contact methods.
                </div>
                <div class="pagination_div w-clearfix">
                    <input type="submit" value="Advertise" data-wait="Please wait..."
                        class="main_button_blue-2 end w-button">
                    <input type="submit" value="Cancel" data-wait="Please wait..."
                        class="main_button_blue-2 w-button">
                </div>
            </div>
        </div>
    </form>
    <div class="success-message w-form-done"></div>
    <div class="error-message-2 w-form-fail"></div>
</div>