<div data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">

    <div class="tabs-menu-2 w-tab-menu">
        <a routerLink="/account/your-vehicles" routerLinkActive="w--current" class="tablink w-inline-block w-tab-link">
            <div>Your Vehicles</div>
        </a>
        <a routerLink="/account/offers" routerLinkActive="w--current" class="tablink w-inline-block w-tab-link">
            <div>Received Offers</div>
        </a>
        <a routerLink="/account/leads" routerLinkActive="w--current" class="tablink w-inline-block w-tab-link">
            <div>Received Leads</div>
        </a>
        <a routerLink="/account/profile" routerLinkActive="w--current" class="tablink w-inline-block w-tab-link">
            <div>Profile</div>
        </a>
    </div>

    <div class="w-tab-content">

    </div>

    <router-outlet></router-outlet>


</div>